body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 253, 249);
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 3vmin;
    font-size: 3vmin;
}

#message {
    font-family: 'Roboto Bold', sans-serif;
    font-weight: lighter;
    font-size: 6vmin;
    margin: 10vmin 0 -3vmin 0;
}

section.board {
    background-image:url(../images/TICTACTOE_background.png);
    background-size: cover;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 20vmin);
    grid-template-columns: repeat(3, 20vmin);
    grid-gap: 0vmin;
    font-family: 'Montserrat', sans-serif;
    color: rgb(194, 18, 18);
}

div {
    /*border: 3px solid black;*/
    font-family: 'Shadows Into Light', cursive;
    font-size: 27vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sq0 {
    border-top: 0px;
    border-left: 0px;
}

#sq1 {
    border-top: 0px;
}

#sq2 {
    border-top: 0px;
    border-right: 0px;
}

#sq3 {
    border-left: 0px;
}

#sq5 {
    border-right: 0px;
}

#sq6 {
    border-left: 0px;
    border-bottom: 0px;
}

#sq7 {
    border-bottom: 0px;
}

#sq8 {
    border-right: 0px;
    border-bottom: 0px;
}

#reset {
    border-radius: 30px;
    border-color: rgb(27, 27, 27);
    background-color: rgb(247, 192, 192);
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.5vmin;
    width: 16vmin; 
}
