body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0 auto;
}

#message {
    margin: 0 auto;
}

section.board {
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}

#reset {
    margin: 0 auto;
    font-size: 4vmin;
    width: 30vmin;
}